<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"
        android:largestWidthLimitDp="960"/>
    <!-- android:compatibleWidthLimitDp="240" -->

    <compatible-screens>
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <screen android:screenSize="small" android:screenDensity="280" />
        <screen android:screenSize="small" android:screenDensity="360" />
        <screen android:screenSize="small" android:screenDensity="420" />
        <screen android:screenSize="small" android:screenDensity="480" />
        <screen android:screenSize="small" android:screenDensity="560" />
        <screen android:screenSize="small" android:screenDensity="640" />

        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
        <screen android:screenSize="normal" android:screenDensity="280" />
        <screen android:screenSize="normal" android:screenDensity="360" />
        <screen android:screenSize="normal" android:screenDensity="420" />
        <screen android:screenSize="normal" android:screenDensity="480" />
        <screen android:screenSize="normal" android:screenDensity="560" />
        <screen android:screenSize="normal" android:screenDensity="640" />

        <screen android:screenSize="large" android:screenDensity="ldpi" />
        <screen android:screenSize="large" android:screenDensity="mdpi" />
        <screen android:screenSize="large" android:screenDensity="hdpi" />
        <screen android:screenSize="large" android:screenDensity="xhdpi" />
        <screen android:screenSize="large" android:screenDensity="280" />
        <screen android:screenSize="large" android:screenDensity="360" />
        <screen android:screenSize="large" android:screenDensity="420" />
        <screen android:screenSize="large" android:screenDensity="480" />
        <screen android:screenSize="large" android:screenDensity="560" />
        <screen android:screenSize="large" android:screenDensity="640" />

        <screen android:screenSize="xlarge" android:screenDensity="ldpi" />
        <screen android:screenSize="xlarge" android:screenDensity="mdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="hdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="xhdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="280" />
        <screen android:screenSize="xlarge" android:screenDensity="360" />
        <screen android:screenSize="xlarge" android:screenDensity="420" />
        <screen android:screenSize="xlarge" android:screenDensity="480" />
        <screen android:screenSize="xlarge" android:screenDensity="560" />
        <screen android:screenSize="xlarge" android:screenDensity="640" />
    </compatible-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PortfolioResumeActivity"
            android:label="@string/title_activity_portfolio_resume"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".SubjectGroupActivity"
            android:label="@string/title_activity_topic"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
    </application>

</manifest>
